extends layout

block content
  h1= title
  if items.length
    ul
      each item in items
        li
          a(href=item.url) #{item.name}
          |  Ksh (#{item.price})

  else
    p There are no items.